---
layout: default
title: Tagi
permalink: /tagi.html
---
<div class="blog-container">
    <main class="blog-content">
        <h1>Wszystkie tagi</h1>
        
        <div class="tag-cloud" style="margin-bottom: 30px;">
            {% capture site_tags %}{% for tag in site.tags %}{{ tag[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
            {% assign tags_list = site_tags | split:',' | sort %}
            {% for tag in tags_list %}
                <a href="#{{ tag | cgi_escape }}" class="tag-pill">#{{ tag }}</a>
            {% endfor %}
        </div>

        {% for tag in site.tags %}
        <h3 id="{{ tag[0] | cgi_escape }}" style="margin-top: 40px; border-bottom: 2px solid #eee; padding-bottom: 5px;">#{{ tag[0] }}</h3>
        <ul style="list-style-type: none; padding-left: 0;">
            {% for post in tag[1] %}
            <li style="margin-bottom: 10px;">
                <span style="font-size: 0.8em; color: #666; margin-right: 10px;">{{ post.date | date: "%d.%m.%Y" }}</span>
                <a href="{{ post.url | relative_url }}" style="text-decoration: none; font-weight: bold; color: #333;">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </main>
</div>