<footer>
    <div class="footer-container">
        <div class="footer-grid">
            <div class="footer-left">
                <span class="footer-logo">
                    <span class="footer-grad">Natalia Szoppa</span>
                </span>
                <p class="footer-desc">Tworzę przestrzeń, w której standardy wydawnictw spotykają się z potrzebami niezależnych twórców. To miejsce, gdzie Twoja wizja zyskuje solidny, redakcyjny fundament, by mogła wybrzmieć dokładnie tak, jak to zaplanowałaś/-eś. </p>
                <div class="footer-socials">
                    <a href="#" aria-label="Instagram"><i class="lab la-instagram"></i></a>
                    <a href="#" aria-label="LinkedIn"><i class="lab la-linkedin-in"></i></a>
                    <a href="#" aria-label="Behance"><i class="lab la-behance"></i></a>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-col">
                    <h4>Mapa strony</h4>
                    <ul class="footer-links">
                        <li><a href="{{ site.baseurl }}/index.html">Strona główna</a></li>
                        <li><a href="{{ site.baseurl }}/o-mnie.html">O mnie</a></li>
                        <li><a href="{{ site.baseurl }}/oferta.html">Oferta</a></li>
                        <li><a href="{{ site.baseurl }}/faqs.html">FAQs</a></li>
                          <li><a href="{{ site.baseurl }}/redakcja.html">Redakcja</a></li>
                        <li><a href="{{ site.baseurl }}/polityka-prywatnosci.html">Polityka prywatności</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>&nbsp;</h4>
                    <ul class="footer-links">
                        <li><a href="{{ site.baseurl }}/cennik.html">Cennik</a></li>
                        <li><a href="{{ site.baseurl }}/zasady-wspolpracy.html">Zasady współpracy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <span>&copy; 2023–2026 Natalia Szoppa. Wszystkie prawa zastrzeżone.</span>
            <span>Design by me, Natalia.</span>
        </div>
    </div>
</footer>
