<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-left">
            <span class="footer-brand">Natalia <i>Szoppa</i></span>
            <div class="footer-copy">
                <span>&copy; 2023–2026 Natalia Szoppa. Wszelkie prawa zastrzeżone.</span>
                <span>Design by me, Natalia.</span>
            </div>
        </div>
        
        <div class="footer-right">
            <a href="mailto:natalia.szoppa@gmail.com" class="footer-mail">
                <i class="las la-envelope"></i> natalia.szoppa@gmail.com
            </a>
        </div>
    </div>
</footer>
