<nav class="nav" id="main-nav">
    <div class="nav-inner">
        <a href="{{ site.baseurl }}/index.html" class="nav-logo">Natalia <em>Szoppa</em></a>
        <ul class="nav-links">
            <li><a href="{{ site.baseurl }}/index.html">Strona główna</a></li>
            <li><a href="{{ site.baseurl }}/o-mnie.html">O mnie</a></li>
            
            <li><a href="{{ site.baseurl }}/cennik.html">Cennik</a></li>
            <li><a href="{{ site.baseurl }}/faqs.html">FAQs</a></li>
        </ul>
       <div class="nav-right">
  <a href="mailto:twoj-adres@email.com" class="nav-cta">Napisz do mnie</a>
  <button class="mobile-toggle" aria-label="Menu" aria-expanded="false">
    <i class="las la-bars"></i>
  </button>
</div>
    </div>
</nav>
